@import url("footer.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block{
    display: block;
}

.main-container{
  width: 80%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.prim-data, .job-info, .form-entidad, .bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.left, .right{
  width: 50%;
}

.input-box{
  margin: 1rem;
}
.input-box input{
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
}

.input-box select, .input-box input[type="number"]{
  border: 2px solid gray;
}

textarea{
  width: 100%;
}